<div class="wrapper">
  <div class="banner-list list-info" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path @list.photo.key %>'); background-size: cover; background-position: center;">
    <h1><%= @list.name %></h1>
    <%= link_to "add a movie", new_list_bookmark_path(@list), class: "btn-white" %>
  </div>
  <div class="container-list-cards">
    <div class="container-movie-cards">
      <ul class="grid">
          <% @bookmarks.each do |bookmark| %>
            <li>
              <img src="<%= bookmark.movie.poster_url %>" alt="Movie poster" width="100%">
              <div>
                <div class="movie-title-rating">
                  <h4><%= bookmark.movie.title %></h4>
                  <p><%= bookmark.movie.rating %> <i class="fa-solid fa-star"></i></p>
                </div>
                <p><%= bookmark.movie.overview %></p>
              </div>
              <div class="movie-comment">
                <p><%= bookmark.comment %></p>
                <%#= link_to ('<i class="fa-solid fa-trash-can"></i>').html_safe, bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your bookmark?"}, class: "link-danger" %>
                <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your bookmark?"}, class: "link-danger" do %>
                  <i class="fa-solid fa-trash-can"></i>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
    </div>
    <%= link_to "Back to All Lists", lists_path, class: "btn-flat" %>
  </div>

</div>
